<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        <link rel="stylesheet" type="text/css" href="/style.css">

        <!-- Icon -->
        <link rel="icon" href="/icon.webp">

        <!-- Discord embed -->
        <meta property="og:site_name" content="{{ .Site.Title }}">
        <meta name="twitter:site" content="{{ .Site.Title }}">
        <meta property="og:url" content="{{ .Site.BaseURL }}"/>
        <meta property="og:description" content="{{ .Summary | truncate 128 }}">
        <meta name="description" content="{{ .Summary | truncate 128 }}">
        <meta name="twitter:description" content="{{ .Summary | truncate 128 }}">
        <meta content="#2F3136" data-react-helmet="true" name="theme-color" />
        <meta property="og:type" content="website">

        <!-- Font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">

        <!-- SEO -->
        <link rel="canonical" href="{{ .Site.BaseURL }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta charset="utf-8">

        <!-- Ads -->
        <meta name="google-adsense-account" content="ca-pub-5365509455453456">

        <title>{{ .Site.Title }}</title>
        <meta property="og:title" content="{{ .Site.Title }}" />
        <meta name="twitter:title" content="{{ .Site.Title }}">

        {{ block "head" . }}{{ end }}
    </head>
    <body>
        {{ block "body" . }}{{ end }}
    </body>
</html>
