{{ define "head" }}
    <link rel="stylesheet" type="text/css" href="/single.css">
{{ end }}

{{ define "body" }}
    <article>
        <header>
            <main>
                <a class="button selectable" href="/">Return</a>
                {{ with .Params.name }}<h1>{{ . }}</h1>{{ end }}
                {{ with .Params.artist }}<h2>by {{ . }}</h2>{{ end }}
                {{ with .Params.category }}<h3>{{ . }}</h3>{{ end }}
                <p>{{ .Content }}</p>
            </main>
            <div class="links">
                {{ $category := "" }}

                {{ with .Resources.Match "*.wotmod" }}<a class="button selectable" style="background-color: #1d811a;" href="{{ index . 0 }}">Download</a>{{ end }}
                {{ with .Resources.Match "*.fbx" }}<a class="button selectable" href="{{ index . 0 }}">Download FBX</a>{{ end }}
                {{ with .Resources.Match "*.zip" }}<a class="button selectable" href="{{ index . 0 }}">Download ZIP</a>{{ end }}
            </div>
        </header>
        {{ partial "slideshow.html" . }}
        <footer>
            <p>Uploaded on {{ .Date.Format "January 2, 2006" }}</p>
        </footer>
    </article>

    <script src="/slideshow.js" defer></script>
{{ end }}
