/* Sidebar */
aside {
    display: flex;
    flex-direction: column;
    flex-basis: 20em;
    min-width: 20em;
    margin: 1em;
}

aside section {
    background-color: #0d0723;
    color: white;
    padding: 1em;
    border-radius: 4px;
    margin-bottom: 0.5em;
}

aside section h2 {
    margin: 0 0 .5em 0;
}

aside div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: .5em;
    justify-items: center;
}

#category div {
    grid-template-columns: repeat(3, 1fr);
}

.option {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 6em;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1c1536;
    border: 1px solid transparent;
    transition: 300ms all cubic-bezier(.25,.8,.25,1);
}

.option:hover {
    color: white;
    border: 1px solid white;
}

.option[checked] {
    background-color: #000;
    color: white;
    border: 1px solid white;
}

#mainside {
    padding: 0;
    background-color: transparent;
}

#mainside > img {
    display: block;
    max-width: 12em;
    margin: auto;
}

/* Search bar */
#search {
    width: 100%;
    margin: 1em 0;
    padding: 1em 1em 1em 3em;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #0d0723;
    background: #0d0723 url('icons/search.svg') no-repeat 1em;
    color: white;
}

/* Skins */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page {
    display: inline-flex;
    margin: 1em;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid black;
    border-radius: 4px;
    aspect-ratio: 4 / 3;
    min-width: 25%;
    max-height: 20em;
    flex: 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1em;
    text-decoration: none;
    color: white;
}


.page span h1 { 
    margin: 0; 
    font-size: 1.5em; 
    font-weight: 700; 
}
.page span p { 
    margin: 0; 
    font-size: 1em; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.page span {
    transition: 300ms opacity cubic-bezier(.25,.8,.25,1);
}
.page:hover span {
    opacity: 0.1;
}

/* Mobile */
@media only screen and (max-width: 900px) {
  body {
      flex-direction: column;
  }
  .page {
    min-width: 50%;
  }
}


