* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
    display: flex;
    background-color: rgb(20, 11, 53);
    margin: 0;
}

.selectable {
    transition: 300ms all cubic-bezier(.25,.8,.25,1);
}

.selectable:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 1px solid #eee;
}

a {
    text-decoration: none;
    color: white;
}